@use 'src/styles/colors';

.rk-nav-list {

    .rk-nav-list-empty {
        margin-top: 20px;
        padding-right: 20px;
    }

    .rk-nav-category {
        font-weight: bold;
        color: colors.$rk-item-category;
    }

    .rk-nav-list-item:hover {
        background-color: colors.$rk-item-hover;
    }

    .rk-nav-list-item.active {
        background-color: colors.$rk-item-active;
    }
}